*{ padding: 0;
margin: 0;
box-sizing: border-box;

}

:root{  
    --bg-url: url(./assets/night-mobile.png);
    --text-color: rgb(255, 255, 255);
    --stroke-color : rgb(0, 0, 0);
    --surface-color: rgb(0, 0, 0);
    --surface-color-hover: rgb(255, 255, 255);
    --hightlight-color: rgb(0, 0, 0);
    --switch-bg: url(./assets/moon.svg);
}





.light {
    --bg-url: url(./assets/theme-cyber-light.png);
    --text-color: rgb(0, 0, 0);
    --stroke-color : rgb(255, 255, 255) 0.5;
    --surface-color: rgb(255, 255, 255);
    --surface-color-hover: rgb(0, 0, 0);
    --hightlight-color: rgb(255, 255, 255);
    --switch-bg: url(./assets/sun.svg);
}



 
  body .light {
     background-image: var(--bg-url);
     background-attachment: flex;
     background-repeat: no-repeat;
     background-position: top center;
    background-size: cover;
 /*valor de repeticao do fundo=,valor de posicionamento/valor de cobrir=cover!*/
     color: var(--text-color);
}

body{
   background-image: var(--bg-url);
   background-attachment: flex;
   background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
 /*valor de repeticao do fundo=,valor de posicionamento/valor de cobrir=cover!*/
color: var(--text-color);
}

body * {
    font-family:  "inter", Helvetica, sans-Pixelizar;
   -webkit-text-stroke-color: azure;
    font-size: 20px;
}
#box-1{ 
    width: 100%;
    max-width: 580px;
    margin: 58px auto 0px;
    padding: 24px;
   
}

#box-2 {
    img { border-radius: 50%; border: 2px solid rgb(0, 0, 0);} 
    text-align: center;
    padding: 24px; 
    
    
}

#box-2 img{
    width: 112px;


}

#box-1 {
    font-weight: 500; font-weight: 24px; 
    line-height: 24px;
    margin-top: 24px;
  


}
#switch{

    position: relative;
   width: 32px;
   margin-left: 235px;
   margin-right: -40px;

}   





 #switch button {


    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid var(black);

   
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
   cursor: pointer;



   position: absolute;
   top: 50%;
   right: -100%;
   z-index: 1;
    transform: translateY(-60%) translateX(15%);
    transition: all 0.3s ease;

}
#play {background-color: transparent;}

#moon { display: inline;}
#sun {display: none;}

.light #moon { display: none;}
.light #sun {display: inline;}


#clouds-night{display: inline;}
#clouds-light{display: none;}

.light #clouds-night{display: none;}
.light #clouds-light{display: inline;}


@keyframes cloudsMove {
  from { transform: translateX(0); }
  to { transform: translateX(-100%); }
}

#clouds {
  margin: auto;
  width: 100px;
  animation: cloudsMove 10s linear infinite;
}

kil

.light  #switch button{
    right: 0;
    left: initial ;
    border-radius: 50%;
    border: 1px solid var(black);
   
   
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
   cursor: pointer;



   position: absolute;
   top: 50%;
   right: 0;
   z-index: 1;

    transform: translateX(-20%) translateY(-57%);
   transition: all 0.3s ease;
}

#switch span{
    display: inline-block;
    width: 64px;
    height: 24px;
    background: var(--surface-color );
    border: 1px solid var(--stroke-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 999px;
    border: 0;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;

    margin-top: 24px;



}

ul li a{
    
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 16px;

    background-color: rgb(var(--surface-color));
    border: 1px solid rgb(var(--stroke-color));
    border-radius: 8px;

    -webkit-backdrop-filter: blur(04px);
    backdrop-filter: blur(04px);
   
    text-decoration: none;
    font-weight: 500;

    transition: background  0.3s;
    border: 1.5px solid var(--surface-color-hover);
}


ul li a:hover {
    background: var(--surface-color, 0.5);
    border: 1.5px solid var(--surface-color-hover);
    color: var(--text-color)

}

#social-links{

    display: flex;
    justify-content: center;
    

    padding: 24px;
    
    font-size: 24px;

}


#social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;

    margin-left: 10px;
    margin-right: 10px;
    
    transition: background 0.2s;
    border-radius: 50%;
    border: 1.5px solid var(--surface-color-hover);

    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(04px);

    
}

#social-links a:hover{
    border: 2px solid var(--surface-color-hover);
    background-color:var(--surface-color-hover);
    color: var(--text-color);
    background: var(--hightlight-color);
}

footer{
    
    padding: 24px;

    ;
    text-align: center; color: white;
   font-size: 14px;

} 


@media (min-width: 1080px) {
  :root {
   --bg-url: url(./assets/night-desktop.png);}

  .light {
--bg-url: url(./assets/light-2-desktop.png);
}
}
